
<head>
    <%- include("partials/header") -%>
        
        <h1 class="mt-3">Home</h1>
        <p><%= content %></p>

        <% postContent.forEach((i) => { %>
            <div>
                <h1><%= i.title %></h1>
                <p><%= i.body %></p>
            </div>
        <% }); %>
    <%- include("partials/footer") -%>
</html>